<div>
  <div class="highlight" style="padding:2px;">{{name}} |
    <span v-if="!current.company">
      username <input type="text" v-model="current.user.name" /> &nbsp;
      password <input type="password" v-model="current.user.password" /> &nbsp;
      <button @click="on_login_click($event)">login</button>
    </span>
    <span v-else>
      <a :href="current.company.website">{{current.company.name}} [ {{current.company.id}} ]</a> &nbsp;
      <select v-model="current.default_warehouse_id">
        <option v-for="wh in warehouses" :value="wh.id">{{wh.name}}</option>
      </select> &nbsp;
      <button @click="on_logout_click($event)">logout</button>
    </span>
  </div>
  <hr />
  <div>
    {{component}}
    <div>
      <!--数据表-->
      <div style="float:left;height:405px;overflow:auto;border:solid 1px red;">
        <data-table :data="tables" :trclass="(line,i)=>current.tbl_index==i?'highlight':'tdclass'"
          @trclick="on_tables_trclick" />
      </div>
      <div style="float:left;width:699px;overflow:auto;margin-left:2px;">
        <!--表数据-->
        <div style="height:235px;overflow:auto;border:solid 1px red;">
          <data-table style="width:100%" :data="tbldata"
            :trclass="(line,i)=>is_tbldata_selected(i)?current.tbldata_index==i?'highlight2':'highlight':'tdclass'"
            :tdrender="tbldata_td_render" @trclick="on_tbldata_trclick" />
        </div>
        <div style="height:166px;overflow:auto;border:solid 1px red;margin-top:2px;">
          <data-table style="width:100%" :data="lines" :tdrender="tbldata_td_render"
            :trclass="(line,i)=>is_line_selected(i)?current.line_index==i?'highlight2':'highlight':'tdclass'"
            @trclick="on_lines_trclick" />
        </div>
      </div>
      <!--行项目-->
      <div style="height:405px;width:350px;border:solid 1px red;float:left;margin-left:2px;overflow:auto">
        <div>
          <data-table style="width:100%" :data="warehouses"
            :trclass="(line,i)=>is_warehouse_selected(i)?current.warehouse_index==i?'highlight2':'highlight':'tdclass'"
            @trclick="on_warehouse_trclick" />
        </div>
      </div>
      <div style="clear:both"></div>
      <div>
        <hr>
        <div v-if="current_tbl=='t_order' && is_logined">
          <!--交易头寸-->
          <select v-model="order_position">
            <option value="1">LONG</option>
            <option value="-1">SHORT</option>
          </select> &nbsp;
          <!--交易对手方-->
          <select v-model="counterpart_id">
            <option v-for="part in counterparts" :value="part.id">{{part.name}}</option>
          </select> &nbsp;
          <select v-model="current.counterpart.default_warehouse_id">
            <option v-for="wh in current.counterpart.warehouses" :value="wh.id">{{wh.name}}</option>
          </select> &nbsp;
          <button @click="on_order_btn_click($event)">order</button> &nbsp;
          <button v-if="is_invoice_btn_enabled()" @click="on_invoice_btn_click($event)">invoice</button> &nbsp;
          <button v-if="is_receipt_btn_enabled()" @click="on_receipt_btn_click($event)">receipt</button> &nbsp;
          <button v-if="is_freight_btn_enabled()" @click="on_freight_btn_click($event)">freight</button> &nbsp;
          <button v-if="is_pmt_btn_enabled()" @click="on_payment_btn_click($event)">payment</button> &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>