<div>
  <div class="highlight" style="padding:2px;">{{name}} |
    <span v-if="!current.company">
      username <input type="text" v-model="current.user.name" /> &nbsp;
      password <input type="password" v-model="current.user.password" /> &nbsp;
      <button @click="on_login_click($event)">login</button>
    </span>
    <span v-else>
      <a :href="current.company.website">{{current.company.name}}</a> &nbsp;
      <button @click="on_logout_click($event)">logout</button>
    </span>
  </div>
  <hr />
  <div>
    {{component}}
    <div>
      <!--数据表-->
      <div style="float:left;height:335px;overflow:auto;border:solid 1px red;">
        <data-table :data="tables" :trclass="(line,i)=>current.tbl_index==i?'highlight':'tdclass'"
          @trclick="on_tables_trclick" />
      </div>
      <div style="float:left;width:699px;overflow:auto;margin-left:2px;">
        <!--表数据-->
        <div style="height:335px;overflow:auto;border:solid 1px red;">
          <data-table style="width:100%" :data="tbldata"
            :trclass="(line,i)=>is_tbldata_selected(i)?'highlight':'tdclass'" :tdrender="tbldata_td_render"
            @trclick="on_tbldata_trclick" />
        </div>
      </div>
      <!--行项目-->
      <div style="width:370px;float:left;margin-left:2px;">
        <div>
          <data-table style="width:100%" :data="lines" :tdrender="tbldata_td_render"
            :trclass="(line,i)=>is_line_selected(i)?'highlight':'tdclass'" @trclick="on_lines_trclick" />
        </div>
        <div>
          <data-table style="width:100%" :data="warehouses"
            :trclass="(line,i)=>is_warehouse_selected(i)?'highlight':'tdclass'" @trclick="on_warehouse_trclick" />
        </div>
      </div>
      <div style="clear:both"></div>
      <div>
        <hr>
        <button v-if="current.tbl=='t_order'" @click="on_order_btn_click($event)">create order</button> &nbsp;
        <button v-if="current.tbl=='t_order'" @click="on_invoice_btn_click($event)">create invoice</button> &nbsp;
        <button v-if="current.tbl=='t_order'" @click="on_receipt_btn_click($event)">create receipt</button> &nbsp;
        <button v-if="current.tbl=='t_order'" @click="on_payment_btn_click($event)">create payment</button> &nbsp;
      </div>
    </div>
  </div>
</div>