<div>
  <div class="highlight">{{name}}</div>
  <hr />
  <div>
    {{component}}
    <div>
      <div style="float:left;">
        <data-table :data="tables" @trclick="on_tables_trclick" />
      </div>
      <div style="float:left;width:699px;overflow:auto;margin-left:2px;">
        <div style="height:335px;overflow:auto;border:solid 1px red;">
          <data-table style="width:100%" :data="tbldata" @trclick="on_tbldata_trclick"/>
        </div>
      </div>
      <div style="width:270px;float:left;margin-left:2px;">
        <data-table style="width:100%" :data="details" />
      </div>
      <div style="clear:both"></div>
      <div>
        <hr>
        <button @click="on_order_btn_click($event)">create order</button>
      </div>
    </div>
  </div>
</div>