body {
    font-family: Sans-serif;
}

thead {
    position: sticky;
    top: -1px;
}

th {
    color: white;
    background-color: red;
    border: solid 1px red;
}

td {
    border: solid 1px red;
    white-space: nowrap;
}

tr:hover {
    color: red;
    font-weight: bold;
    /*background-color: lightyellow;*/
    cursor: pointer;
}

.highlight {
    color: black;
    background-color: bisque;
    cursor: pointer;
}

.highlight2 {
    color: black;
    background-color: bisque;
    cursor: pointer;
    font-weight: bold;
}

.gray {
    color: black;
    background-color: #dfdfdf;
    cursor: pointer;
    font-weight: bold;
}

.gray2 {
    color: black;
    background-color: #dfdfdf;
    cursor: pointer;
}

.colored {
    color:red;
}

.colorpink {
    color:pink;
}

select input {
    vertical-align: top;
}

select {
    height: 21px;
}

/*
ul,
li {
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px red;
}
*/