body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 25%; /* 调整表单宽度 */
    float: left; /* 使表单浮动到左侧 */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select,
input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="radio"] + label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; /* 减小字体大小 */
    padding: 0 5px; /* 调整内边距 */
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#resultTable {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 70%; /* 调整数据表宽度 */
    float: right; /* 使数据表浮动到右侧 */
}

#resultTable table {
    width: 100%;
    border-collapse: collapse;
}

#resultTable th,
#resultTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#resultTable th {
    background-color: #f0f0f0;
}